.DS_Store
*.swp
*.bak

.keys
.shellrc.work

.config/bspwm/wallpaper/*
.config/gtk-3.0/bookmarks
.config/termite/config
.config/alacritty/alacritty.yml

.fonts/.uuid

.ncmpcpp/error.log

.jack/patches/*
.jack/sessions/*
.jack/snapshots/*
.jack/qjackctl.log


.config/PrusaSlicer
!.config/PrusaSlicer/PrusaSlicer.ini
!.config/PrusaSlicer/filament
!.config/PrusaSlicer/print
!.config/PrusaSlicer/printer
!.config/PrusaSlicer/scripts

.config/SuperSlicer
!.config/SuperSlicer/SuperSlicer.ini
!.config/SuperSlicer/filament
!.config/SuperSlicer/print
!.config/SuperSlicer/printer
!.config/SuperSlicer/scripts

