*.swp
*.bak
.config/bspwm/wallpaper/*
.config/gtk-3.0/bookmarks
.config/termite/config
.config/alacritty/alacritty.yml
.fonts/.uuid
.keys
.ncmpcpp/error.log
.jack/patches/*
.jack/sessions/*
.jack/snapshots/*
.jack/qjackctl.log
