# x setup
xsetroot -cursor_name left_ptr

# set configs
if [ -f /etc/macbook ]
then
    ln -s ~/.config/termite/config.mac ~/.config/termite/config
else
    ln -s ~/.config/termite/config.default ~/.config/termite/config
fi

# fonts
xset +fp ~/.fonts

# env
export EDITOR="vim"
export BROWSER=""

# screensaver & lock
xscreensaver -no-splash &

# keyring
eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh)
export SSH_AUTH_SOCK

# autorun
owncloud &

