# env
export PATH=$HOME/bin:$HOME/.local/bin:$PATH

export EDITOR="nvim"
export BROWSER="firefox"

export POWERLINE_COMMAND=$HOME/.local/bin/powerline
export POWERLINE_CONFIG_COMMAND=$HOME/.local/bin/powerline-config

# set screen
#autorandr -l default

# fonts
xset +fp ~/.fonts

# set configs
if [ -f /etc/xps13 ]
then
    setxkbmap -layout us -option ctrl:nocaps
    ln -s ~/.config/termite/config.xps13 ~/.config/termite/config
#    autorandr --change
    $HOME/.screenlayout/xps13_single.sh
else
    ln -s ~/.config/termite/config.default ~/.config/termite/config
    $HOME/.screenlayout/triptic.sh
fi

# compositing
#$HOME/bin/compmgr --start
#compton -b
xcompmgr -o.70 &

# keyring
#eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh)
#export SSH_AUTH_SOCK
eval $(ssh-agent -s)

