!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

!! Fonts
Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

!! Cursor
Xcursor.theme: Breeze_Snow
Xcursor.size:  16

!! Common

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

!! Dark Background Tones
#define S_base03        #002b36
#define S_base02        #073642

!! Content Tones
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1

!! Light Background Tones
#define S_base2         #eee8d5
#define S_base3         #fdf6e3

!! URxvt

URxvt.depth:                32
URxvt.geometry:             90x30
URxvt.transparent:          false
URxvt.fading:               0
! URxvt.urgentOnBell:         true
! URxvt.visualBell:           true
URxvt.loginShell:           true
URxvt.saveLines:            50
URxvt.internalBorder:       3
URxvt.lineSpace:            0

! Fonts
URxvt.allow_bold:           true
URxvt*font: xft:Monaco:size=10
URxvt*boldFont: xft:Monaco:size=10


! Fix font space
URxvt*letterSpace: -1

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! Perl extensions
URxvt.perl-ext-common:      default,matcher
URxvt.matcher.button:       1
URxvt.urlLauncher:          chromium

! Cursor
URxvt.cursorBlink:          true
URxvt.cursorColor:          #657b83
URxvt.cursorUnderline:      false

! Pointer
URxvt.pointerBlank:         true

!!Source http://github.com/altercation/solarized

Urxvt.background: #002b36
Urxvt.foreground: #657b83
!!*fading: 40
Urxvt.fadeColor: #002b36
Urxvt.cursorColor: #93a1a1
Urxvt.pointerColorBackground: #586e75
Urxvt.pointerColorForeground: #93a1a1

!! black dark/light
Urxvt.color0: #073642
Urxvt.color8: #002b36

!! red dark/light
Urxvt.color1: #dc322f
Urxvt.color9: #cb4b16

!! green dark/light
Urxvt.color2: #859900
Urxvt.color10: #586e75

!! yellow dark/light
Urxvt.color3: #b58900
Urxvt.color11: #657b83

!! blue dark/light
Urxvt.color4: #268bd2
Urxvt.color12: #839496

!! magenta dark/light
Urxvt.color5: #d33682
Urxvt.color13: #6c71c4

!! cyan dark/light
Urxvt.color6: #2aa198
Urxvt.color14: #93a1a1

!! white dark/light
Urxvt.color7: #eee8d5
Urxvt.color15: #fdf6e3

