!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

!! Fonts
Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

!! Cursor
Xcursor.theme: Hacked_White
Xcursor.size:  12

!! Common
#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

!! Dark Background Tones
#define S_base03        #002b36
#define S_base02        #073642

!! Content Tones
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1

!! Light Background Tones
#define S_base2         #eee8d5
#define S_base3         #fdf6e3

