!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

!! Let /etc/X11/xinit/xinitrc.d/infinality-settings control fonts
!!Xft.dpi:                    82
!!Xft.antialias:              true
!!Xft.rgba:                   rgb
!!Xft.hinting:                true
!!Xft.hintstyle:              hintslight

!! Common

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

!! Dark Background Tones
#define S_base03        #002b36
#define S_base02        #073642

!! Content Tones
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1

!! Light Background Tones
#define S_base2         #eee8d5
#define S_base3         #fdf6e3

!! rofi
rofi.color-enabled: true
rofi.color-window: #002b37, #002b37, #003642
rofi.color-normal: #002b37, #819396, #002b37, #003642, #819396
rofi.color-active: #002b37, #008ed4, #002b37, #003642, #008ed4
rofi.color-urgent: #002b37, #da4281, #002b37, #003642, #da4281
rofi.font: Envy Code R 15
rofi.padding: 15
rofi.lines: 5
rofi.borderwidth: 3
rofi.opacity: 85

